*{
  margin:0px;
  padding: 0px;
}
body{
  background: rgb(36, 37, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 0px;
    padding: 0px;
}

#siteHeader{
  padding: auto;
  margin: auto;
  width: 100%;
  height: 120px;
  background: rgb(49, 48, 48);
  position:sticky;
  left: 0px;
  top:0px;
}

.table_1{
  margin: 6px 20px 0px 5px;
  display:inline-block;
 
  left:100px;
}
.table_1 td{
  padding: 0px 6px 0px 6px;
  margin: 0px;
  text-align: center;
  font-size: 1.1em;
}
.cusor{
  cursor: pointer;
}
.cusor:hover{
  color:rgb(156, 161, 165);
}
.table_2{
  margin-left: 600px;
 display: inline-block;
  /* position: absolute;
  position: fixed; */
}
.table_2 td{
  padding: 0px 10px 0px 10px;
  font-size: 1.1em;
  text-align: center;
}
.table_3{

 margin: 20px 0px 0px 90px;

  display: inline-block;
  /* position: absolute;
  position: fixed; */
}
.table_3 .log{
  width: 70px;
  height: 50px;
  padding: 0px 0px 0px 0px;
}
.amperka{
  padding: 0px 20px 0px 0px;

}
.table_3 input{
  width: 700px;
  height:30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 10px;
}
.table_3 .magnifier{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  
}
.basketcontent{
  margin-left: 90px;
  display: inline-block;
  width: 50px;
  height: 50px;

  /* position: absolute; */
}
.imgbasket{
  margin:0px;
  padding:0px;
  border: 0px;
  width: 50px;
  height: 50px;
  /* position: relative; */
}
.basketcontent span{
  top :-10px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  
}
.basketcontent:hover{
 
  color: rgb(13, 122, 122);
}


   /* 
   тут конец header шапка сайта
   */
   /*
   начала main главное страница сайта
   */
   #main{
    padding: 0px;
    margin: auto;
    max-width: 90%;
    
    text-align: center;
    background: rgb(36, 37, 46);
   }
   
   .menu_catalog {
   text-align: center;
   width: 100%;
   height: 70px;
   font-size: 1.3em;
   
   
   }
 
   .catalog {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: rgb(57, 57, 145);
  }
  .electronics {
    background: rgb(40, 40, 163);
  }
  .extruder {
    background: rgb(61, 61, 155);
  }
  .aluminum_profil {
    background: rgb(38, 38, 145);
  }
  .plastic {
    background: rgb(61, 61, 155);
  }
  .зd_printers {
    background: rgb(35, 35, 167);
  }
  /* .block{
    
    padding: 0px;
    border: 0px;
    width: 200px;
    height: 200px;
    /* background: burlywood; */
    /* color: aqua;
    float: left;
    margin: 20px 51px 20px 51px;
    text-align: center;
  
  } */ 
  
  .products{
    padding: 0px;
    /* margin: auto; */
    width: 100%;
    height: 200px;
    /* border: solid red; */
    /* text-align: center; */
    
    
  }
  .products img{
    padding: 0px;
    margin: 25px 0px 15px 0px;
    width: 250px;
    height: 200px;
    border-radius: 5px;
  }
  #footer{
    
    width: 100%;
    height: 250px;
    background: rgb(49, 48, 48);
 
   
  }
  .Table1{
    margin:10px 120px 0px 0px;
    font-size: 1.1em;
    width: 100px;
     /* border: 10px solid red;  */
    height: 90%;
    width: 150px;
    border-spacing: 5px ;
    float:left;
    display: block;
    
  }
  .Table2{
    margin:10px 120px 0px 0px;
    font-size: 1.1em;
    height: 88%;
    width: 180px;
    border-spacing: 5px;
    /* border: 10px solid silver;  */
    float: left;
    display:block;
  }
  .Table3{
    margin: 10px 120px 0px 0px;
    height: 90%;
    width: 170px;
    /* border: 10px solid red;   */
    float: left;
    display: block;
  }
  .Table4{
    margin: 10px 0px 0px 0px;
    height: 78%;
    width: 182px;
   /* border: 10px solid red;   */
    float: left;
    display: block;
  }
  .Table4 img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }
  .Table4 h2{
     padding-bottom: 10px;
  }
  
 
@media screen and (min-width:375px) and (max-width:1024px) {
  
  #siteHeader{
    padding: auto;
    margin: auto;
    width: 100%;
    height: 120px;
    background: rgb(49, 48, 48);
    position:sticky;
    left: 0px;
    top:0px;
  }
  
  .table_1{
    margin: 6px 20px 0px 5px;
    display:none;
   
    left:100px;
  }
  .table_1 td{
    padding: 0px 6px 0px 6px;
    margin: 0px;
    text-align: center;
    font-size: 1.1em;
    display: none;
  }
  .cusor{
    cursor: pointer;
  }
  .cusor:hover{
    color:rgb(156, 161, 165);
  }
  .table_2{
    margin-left: 600px;
   display: none;
    /* position: absolute;
    position: fixed; */
  }
  .table_2 td{
    padding: 0px 10px 0px 10px;
    font-size: 1.1em;
    text-align: center;
  }
  .table_3{
  
   margin: 20px 0px 0px 90px;
  
    display: none;
    /* position: absolute;
    position: fixed; */
  }
  .table_3 .log{
    width: 70px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    display: none;
  }
  .amperka{
    padding: 0px 20px 0px 0px;
  
  }
  .table_3 input{
    width: 700px;
    height:30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
  }
  .table_3 .magnifier{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    
  }
  .basketcontent{
    margin-left: 90px;
    display: none;
    width: 50px;
    height: 50px;
  
    /* position: absolute; */
  }
  .imgbasket{
    margin:0px;
    padding:0px;
    border: 0px;
    width: 50px;
    height: 50px;
    /* position: relative; */
  }
  .basketcontent span{
    top :-10px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    
  }
  .basketcontent:hover{
   
    color: rgb(13, 122, 122);
  }
  
  
     /* 
     тут конец header шапка сайта
     */
     /*
     начала main главное страница сайта
     */
     #main{
      padding: 0px;
      margin: auto;
      max-width: 90%;
      
      text-align: center;
      background: rgb(36, 37, 46);
     }
     
     .menu_catalog {
     text-align: center;
     width: 100%;
     height: 70px;
     font-size: 1.3em;
     
     
     }
   
     .catalog {
      margin: 0px;
      padding: 0px;
      border: 0px;
      background: rgb(57, 57, 145);
    }
    .electronics {
      background: rgb(40, 40, 163);
    }
    .extruder {
      background: rgb(61, 61, 155);
    }
    .aluminum_profil {
      background: rgb(38, 38, 145);
    }
    .plastic {
      background: rgb(61, 61, 155);
    }
    .зd_printers {
      background: rgb(35, 35, 167);
    }
    /* .block{
      
      padding: 0px;
      border: 0px;
      width: 200px;
      height: 200px;
      /* background: burlywood; */
      /* color: aqua;
      float: left;
      margin: 20px 51px 20px 51px;
      text-align: center;
    
    } */ 
    
    .products{
      padding: 0px;
      /* margin: auto; */
      width: 100%;
      height: 200px;
      /* border: solid red; */
      /* text-align: center; */
      
      
    }
    .products img{
      padding: 0px;
      margin: 25px 0px 15px 0px;
      width: 250px;
      height: 200px;
      border-radius: 5px;
    }
    #footer{
      
      width: 100%;
      height: 250px;
      background: rgb(49, 48, 48);
   
     
    }
    .Table1{
      margin:10px 120px 0px 0px;
      font-size: 1.1em;
      width: 100px;
       /* border: 10px solid red;  */
      height: 90%;
      width: 150px;
      border-spacing: 5px ;
      float:left;
      display: block;
      
    }
    .Table2{
      margin:10px 120px 0px 0px;
      font-size: 1.1em;
      height: 88%;
      width: 180px;
      border-spacing: 5px;
      /* border: 10px solid silver;  */
      float: left;
      display:block;
    }
    .Table3{
      margin: 10px 120px 0px 0px;
      height: 90%;
      width: 170px;
      /* border: 10px solid red;   */
      float: left;
      display: block;
    }
    .Table4{
      margin: 10px 0px 0px 0px;
      height: 78%;
      width: 182px;
     /* border: 10px solid red;   */
      float: left;
      display: block;
    }
    .Table4 img{
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }
    .Table4 h2{
       padding-bottom: 10px;
    }
}
 

  


